body {
    background-color: white;
}

header {
    text-align: center;
    padding: 10px;
}

header {
    color: rgb(3, 42, 80);
}

header h2 {
    color: red;
}

header p {
    color: gray;
}
b{
    color: rgb(3, 42, 80);
}
.image {
    float: left;
    width: 50px;
    border-radius: 50%;
}

section {
    margin: auto;
    margin-top: 100;
    margin-bottom: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

section div {
    flex-basis: 80%;
    /*border: 1px solid gainsboro;*/
    padding: 5px;
    box-shadow: 8px 8px 5px gainsboro;
    
}

form .icon,
p {
    text-align: center;
}

form input[type=text],
[type=tel],
[type=email],
[type=number] {
    margin: auto;
    width: 45%;
    height: 30px;
    border: 2px solid gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

form input::-webkit-input-placeholder {
    color: gray;
    opacity: 0.3;
    padding-left: 10px;
    font-style: oblique;
}

form input:focus {
    outline: none;
    border: 0.5px solid red;
}

form select {
    height: 30px;
    width: 92%;
    height: 30px;
    border: none;
}

.paragraphechoix {
    font-style: oblique;
    color: gray;
    font-weight: normal;
    opacity: 0.3;

}

textarea{
    width: 90%;
    border: 2px solid gainsboro;
}
textarea::-webkit-input-placeholder{
    color: gray;
    opacity: 0.3;
}
form button {
    width: 45%;
    height: 50px;
    border: none;
}



footer {
    background-color: rgb(3, 42, 80);
    color: white;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

footer div {
    flex-basis: 20%;
}

footer img {
    width: 50px;
}

footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer .ContactUs {
    color: red;
    font-weight: bold;
}

@media screen and (max-width:950px) {
    footer div {
        flex-basis: 50%;
    }

    footer ul {
        padding-left: 0px;
    }

    footer ul li {

        display: block;
        padding: 0px;
    }

}

@media screen and (max-width:735px) {
    footer div {
        flex-basis: 100%;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}

@media screen and (max-width:600px) {
       
    section div {
        flex-basis: 90%;
        box-shadow: 3px 3px 2px gainsboro;
    }

    form input[type=text],
    [type=tel],
    [type=email],
    [type=number] {
        margin: auto;
        width: 95%;
        margin-top: 5px;
    }
    form select {
        width: 95%;
    }
    textarea{
        width: 95%;
    }

}