body {
    background-color: white;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header {
    flex-basis: 100%;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    height: 25px;
}

/***************************************GESTION DU MENU******************************************* */
#mysidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -300px;
    padding-top: 60px;
    transition: ease-in-out 0.5s;
    background-color: rgb(135, 133, 133, 0.5);
    background-color: black;
    word-wrap: break-word;
}

#mysidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#mysidenav a:hover {
    letter-spacing: 3px;
    transition: 0.5s;
}

#mysidenav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#mysidenav ul li{
    padding-top: 15px;
}
#mysidenav .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.fermer {
    font-size: small;
}

#mysidenav .close:hover {
    font-size: 40px;
    color: white;
}

#openBtn {
    cursor: pointer;
    padding: 5px;
}

/********************************LE GRAND TITRE***********************************/
header h3 {
    color: white;
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 35px;
}

/*************************banière_text_accueil******************************************/
.banière_text_accueil {
    flex-basis: 95%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

/***************************************fond accueil********************************/
.fond_accueil {
    flex-basis: 95%;
    height: 450px;
    box-sizing: content-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: url("../album/vinicius-wiesehofer-UOavP_Z38lE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.fond_accueil h2 {
    padding-top: 80px;
    color: white;
}

.fond_accueil p {
    color: white;
}

.fond_accueil ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.fond_accueil ul li a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    color: inherit;
    border-radius: 15px;
}

.fond_accueil ul li a:hover {
    background:inherit;
    color: white;
    border: 1px solid wheat;
    transition: 0.5s;
}


/*******************************************************************************************/
.store {
    flex-basis: 95%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.store ul {
    position: relative;
    right: 55px;
}

.store ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    padding-top: 15px;
}

.store ul li a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 15px;
    transition: 0.5s;
}

.store ul li a:hover {
    border: 1px solid red;
    background-color: white;
    color: red;
    transition: 0.5s;
}

/*******************************arrivage*****************************************/
.arrivage {
    flex-basis: 95%;
    margin-top: 20px;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;

  
}
.arrivage img{
    width: 200px; 
    padding: 10px;
    border-radius: 20px;
}
.swiper {
    width: 50%;
    height: 220px;
    color: gray;
  }
  .swiper-slide{
    text-align: center;
  }
/*****************************************collection********************************/
.collection {
    flex-basis: 95%;
    font-family: Arial, Helvetica, sans-serif;
}
.swiper-button-prev{
background-color: gainsboro;
padding: 5px;
border-radius: 5px;
}
.swiper-button-prev:hover{
    background-color: gray;
}
.swiper-button-next{
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px;
}
.swiper-button-next:hover{
    background-color: gray;
}
/*********************************SECTION CONTENANT DIFFERENT ARTICLE************************/
section {
    margin: auto;
    padding: auto;
    flex-basis: 95%;
    padding: 0px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section div {
    flex-basis: 20%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gainsboro;
}

section div img {
    box-shadow: 0px 0px 10px gainsboro;
    border-radius: 10px;
    width: 170px
}

section div p {
    text-align: justify;
    color: gray;
}

.prixBarre {
    text-decoration: line-through;
    color: red;
    padding-right: 10px;
}

.prix {
    font-size: large;
}

section div a {
    float: right;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    font-size: xx-small;
    font-weight: bold;
    transition: 0.5s;
}

section div a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}



/*********************************************FOOTER*************************************************/
footer {
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer div {
    flex-basis: 20%;
}

footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer .ContactUs {
    color: red;
    font-weight: bold;
}


@media screen and (max-width:1150px) {
    section div {
        flex-basis: 30%;
    }
}

@media screen and (max-width:950px) {
    footer div {
        flex-basis: 50%;
    }

    footer ul {
        padding-left: 0px;
    }

    footer ul li {

        display: block;
        padding: 0px;
    }

}

@media screen and (max-width:800px) {
    section div {
        flex-basis: 40%;
    }
}

@media screen and (max-width:735px) {

    footer {
        margin-top: 100px;
    }

    footer div {
        flex-basis: 100%;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}

@media screen and (max-width:700px) {

    #mysidenav a {
        text-transform: lowercase;
    }

    .swiper {
        width: 70%;
      }
    section article {
        flex-basis: 75%;
        border-radius: 10px;
        margin-top: 20px;
    }

}

@media screen and (max-width:500px) {
    section div {
        flex-basis: 80%;
    }
}