body {
    background-color: white;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    flex-basis: 100%;
    margin: auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    box-shadow: 2px 1px 2px gray;
    height: 30px;
}

/***************************************GESTION DU MENU******************************************* */
#mysidenav {
    height: 45%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -100%;
    padding-top: 60px;
    transition: ease-in-out 0.5s;
    background-color: rgb(135, 133, 133, 0.5);
    word-wrap: break-word;
}

#mysidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    color: white;
}

#mysidenav a:hover {
    letter-spacing: 5px;
    color: red;
    transition: 0.5s;
}

#mysidenav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#mysidenav .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.fermer {
    font-size: small;
}

#mysidenav .close:hover {
    font-size: 40px;
    color: white;
}

#openBtn {
    cursor: pointer;
    padding: 5px;
}

/********************************LE GRAND TITRE***********************************/
header h3 {
    color: white;
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 35px;
}

/*************************banière_text_accueil******************************************/
.banière_text_accueil {
    flex-basis: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    text-align: center;
    padding: 10px;
}

.banière_text_accueil h1 {
    font-size: 35px;
}

/***************************************bloc arrivag********************************/
.bloc_arrivage {
    flex-basis: 95%;
}

.bloc_arrivage_contente {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.bloc_arrivage_contente div {
    flex-basis: 20%;
    text-align: center;
    box-sizing: content-box;
    background-color: red;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 3px 5px 1px rgba(121, 119, 119, 0.5);
    transition: ease-in-out 0.5s;
}

.bloc_arrivage_contente div:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 3px 5px 1px gray;
    transition: ease-in-out 0.5s;
}

.bloc_arrivage_contente div img {
    width: 100%;
}

.bloc_arrivage p {
    font-size: small;
}

/*********************************SECTION CONTENANT DIFFERENT ARTICLE************************/
section {
    margin: auto;
    padding: auto;
    flex-basis: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/************************************ARTICLE***********************************************/
article {
    flex-basis: 25%;
    box-sizing: content-box;
    margin-top: 50px;
    padding: 20px;
    transition: 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    cursor: pointer;
    color: gray;
}

article p {
    text-align: left;
}

article img {
    width: 100px;
    float: right;
    border-radius: 50%;
    transition: 0.5s;
}

article h5 {
    text-align: left;
    font-size: large;
    transition: 0.5s;
}

.article {
    transition: 0.5s;
}

.article h5 {
    color: red;
    font-size: xx-large;
    transition: 0.5s;
}

.article img {
    width: 180px;
    transition: ease-in-out 0.5s;
}

/**************************************TEMOIGNAGE DE CLIENT*****************************************/
.titre_diaporama {
    margin-top: 50px;
    flex-basis: 100%;
    text-align: center;
    color: gray;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.master {
    margin: auto;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.master div {
    flex-basis: 80%;
    padding: 20px;
    box-sizing: content-box;
    text-align: center;
}

.master div img {

    border-radius: 50%;
}

.master div p {
    font-style: oblique;
}

.masterChild {
    display: none;

}

.un {
    display: block;
}

.masterChildDisplayBlock {
    display: block;

}

.displayNone {
    display: none;
}

.radio {
    flex-basis: 100%;
    margin: auto;
    text-align: center;

}

/***********************************fidelité  et offre***************************************/
.fidelite {
    margin-top: 100px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fidelite div {
    flex-basis: 20%;
    text-align: center;
    box-sizing: content-box;
    box-shadow: 3px 5px 1px rgba(121, 119, 119, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    transition: ease-in-out 0.5s;
}

.fidelite div img {
    width: 100%;
}

/*********************************************FOOTER*************************************************/
footer {
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gainsboro;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer div {
    flex-basis: 20%;
}

footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer a:hover {
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer .ContactUs {
    color: red;
    font-weight: bold;
}

@media screen and (max-width:950px) {
    footer div {
        flex-basis: 50%;
    }

    footer ul {
        padding-left: 0px;
    }

    footer ul li {

        display: block;
        padding: 0px;
    }


}

@media screen and (max-width:735px) {
    footer {
        margin-top: 100px;
    }

    footer div {
        flex-basis: 100%;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}

@media screen and (max-width:700px) {

    #mysidenav a {
        text-transform: lowercase;
    }

    .bloc_arrivage_contente {
        margin-top: 0px;
    }

    .bloc_arrivage_contente div {
        flex-basis: 40%;
        margin-top: 15px;
    }

    .bloc_arrivage_div {
        display: none;
    }

    .bloc_arrivage_contente div:hover {
        position: relative;
        bottom: 0px;
        box-shadow: 3px 5px 1px gray;
    }

    section article {
        flex-basis: 75%;
        border-radius: 10px;
        margin-top: 20px;
    }

    .fidelite div {
        flex-basis: 40%;
        margin: 20px;
    }

}