body {
    background-color: white;
    margin: auto;
}

header {
    padding: 10px;
}

header h1 {
    text-align: center;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h2 {
    text-align: center;
    font-size: medium;
    text-transform: lowercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0px;
    color: red;
}

.image {
    width: 50px;
    border-radius: 50%;
}

section {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section div {
    flex-basis: 80%;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    text-align: center;

}

form {
    text-align: center;
    padding: 20px;
    background-color: wheat;
}

form input[type=text],
[type=tel],
[type=email],
[type=number] {
    margin: auto;
    width: 45%;
    height: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background: white;
    padding: 5px;
    transition: ease 0.5s;
}

form input::-webkit-input-placeholder {
    color: gray;
    font-weight: normal;
    opacity: 0.3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form input:focus {
    outline: none;
    background-color: white;
    border: 1px solid red;
    font-weight: normal;
    color: red;
    transition: ease 0.5s;
}

form select {
    height: 30px;
    width: 92%;
    height: 30px;
    border: none;
}

form select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraphechoix {
    color: white;
    font-weight: normal;
}

textarea {
    width: 91%;
    border: none;
    color: red;
    padding: 7px;
}

textarea:focus {
    outline: none;
    transition: 0.5s;
}

form button {
    width: 45%;
    height: 50px;
    border: none;
    background-color: white;
    color: gray;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 5px;
}

form button:hover {
    letter-spacing: 0px;
    border: 1px solid red;
    transition: 0.5s;
}

footer {
    margin: auto;
    margin-top: 100px;
    background-color: gainsboro;
    color: gray;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer div {
    flex-basis: 20%;
}

footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer a:hover {
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer .ContactUs {
    color: red;
    font-weight: bold;
}

@media screen and (max-width:950px) {
    footer div {
        flex-basis: 50%;
    }

    footer ul {
        padding-left: 0px;
    }

    footer ul li {

        display: block;
        padding: 0px;
    }

}

@media screen and (max-width:735px) {
    footer div {
        flex-basis: 100%;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}

@media screen and (max-width:600px) {

    section div {
        flex-basis: 90%;
        box-shadow: 3px 3px 2px gainsboro;
    }

    form input[type=text],
    [type=tel],
    [type=email],
    [type=number] {
        margin: auto;
        width: 95%;
        margin-top: 5px;
    }

    form select {
        width: 95%;
    }

    textarea {
        width: 95%;
    }

}